<ng-template #notavailable>Not available</ng-template>

<div class="container">
  <div class="card flex-row flex-wrap">
    <div class="card-header border-0" *ngIf="hotel">
      <h4 class="card-title">{{hotel.name}}</h4>
      <p class="card-text">{{hotel.country}}, {{hotel.city}}, {{hotel.street}}, {{hotel.houseNumber}} </p>
      <img src="//placehold.it/200" alt="">
    </div>
    <div class="card-block px-2">
      <p class="card-text">Hotel describe</p>
    </div>
  </div>

</div>
<div class="card my-5">
  <div class="card-body">

    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="card bg-light my-3">
        <div class="card-body">
          <ul class="text-center list-inline py-1">

            <li class="list-inline-item">
              <label for="Check-in" class="form-label">Check-in</label>
              <input type="date" class="form-control" (change)="onChangeDate($event)" placeholder="Check-in" id="Check-in"
                     formControlName="checkIn">
            </li>
            <li class="list-inline-item">
              <label for="Check-out" class="form-label">Check-out</label>
              <input type="date" class="form-control" placeholder="Check-out" (change)="onChangeDate($event)" id="Check-out" formControlName="checkOut">
            </li>
          </ul>
        </div>
      </div>

      <table class="table table-bordered">

        <thead class="thead-light">
        <tr>
          <th scope="col">Sleeps</th>
          <th scope="col">Room type</th>
          <th scope="col">Price</th>
          <th scope="col">Select room</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms" >

            <td>{{ room.sleeps }}</td>
            <td>{{ room.name }}</td>
            <td>{{room.price}} $</td>
            <td *ngIf="roomsOrderedID">

              <label for="selectRoom"></label>
              <input class="form-check-input" type="checkbox" *ngIf="!roomsOrderedID.includes(room.id);else notavailable" [value]="room.id" (change)="onCheckboxChange($event)"
                     id="selectRoom">

            </td>

        </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-info">Reserve</button>
    </form>
  </div>
</div>
