<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Check-in</th>
        <th scope="col">Check-ou</th>
        <th scope="col">State</th>
        <th scope="col">Total price</th>
        <th scope="col">Rooms</th>
        <th colspan="2">Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.checkIn }}</td>
        <td>{{ order.checkOut }}</td>
        <td>{{ order.state }}</td>
        <td>****$</td>
        <td>
          <ng-template #popContent>
            <ul class="list-group" *ngFor="let room of rooms">
              <li class="list-group-item">{{room.name}} sleeps: {{room.sleeps}}</li>
            </ul>
            <div>{{hotel.street}} street {{hotel.houseNumber}}, {{hotel.city}}, {{hotel.country }}</div>
          </ng-template>
          <ng-template #popTitle>Ordered rooms</ng-template>
          <button type="button" class="btn btn-info" (click)="getRooms(order)" [ngbPopover]="popContent"
                  [popoverTitle]="popTitle">{{order.hotelName}}</button>
        </td>
        <td>
          <div *ngIf="order.state==='NEW'">
            <button class="btn btn-info" (click)="cancelOrder(order.id)">Cancel</button>
          </div>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="deleteOrder(order)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
