<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="room.name" class="form-control" id="name" name="name"
               placeholder="Enter room's name">
      </div>

      <div class="form-group">
        <label for="sleeps">Sleeps</label>
        <input type="number" [(ngModel)]="room.sleeps"  class="form-control" id="sleeps"
               name="sleeps"
               placeholder="Enter room sleeps">

      </div>
      <div class="form-group">
        <label for="sleeps">Price</label>
        <input type="number" [(ngModel)]="room.price"  class="form-control" id="price"
               name="price"
               placeholder="Enter room price">

      </div>
      <button type="submit" class="btn btn-info">Add</button>
    </form>
  </div>
</div>

