a:hover,
a:focus {
  color: #f39c12;
  text-decoration:none;
}

h1{font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #2f4f4f;}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}


h1.head{
  font-size: 250px;
  font-weight: 900;
  letter-spacing: 25px;
  margin: 10px 0 0 0;
}
h1.head span {
  position: relative;
  display: inline-block;
}
h1.head span:before, h1.head span:after{
  position: absolute;
  top:50%;
  width: 50%;
  height: 1px;
  background: #fff;
  content: '';
}
h1.head span:before{
  left: -55%;
}
h1.head span:after{
  right: -55%;
}

