<div class="container-fluid">

  <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
    <div class="container-fluid">
      <form *ngIf="isRoleUpload && isUserUpload" [formGroup]="roleForm" (ngSubmit)="submit()">
        <div class="hidden">
          <label for="id">Id:</label>
          <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly>
        </div>
        <div class="form-group">
          <label for="username">User Name:</label>
          <input type="text" formControlName="username" placeholder="username" name="username" class="form-control"
                 id="username">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
        </div>
        <label formArrayName="roles" *ngFor="let perm of permissionsArr.controls; index as i ">
          <input type="checkbox" [formControlName]="i">
          {{rolesList[i].name}}
        </label>

        <div class="row">

            <input type="submit" value="Save" class="btn">

        </div>
      </form>
    </div>
  </div>
</div>

