
<div class="card-deck">
  <div class="card mb-4" *ngFor="let hotel of hotels">
    <div class="card-body">
      <h5 class="card-title">{{hotel.name}}</h5>
      <p class="card-text">Hotel description</p>
      <a href="#" class="btn btn-primary">Show prices</a>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{hotel.country}}</li>
      <li class="list-group-item">{{hotel.city}}</li>
      <li class="list-group-item">{{hotel.street}}</li>
      <li class="list-group-item">{{hotel.houseNumber}}</li>
    </ul>
    <div class="card-body">
      <a class="btn btn-info btn-sm" (click)="updateHotel(hotel)">Edit</a>
      <a class="btn btn-info btn-sm" (click)="deleteHotel(hotel)">Delete</a>
      <a href="#" class="btn btn-info btn-sm">Add room</a>
    </div>
  </div>
</div>
